@model BusinessObject.Model.Product
@{
    ViewData["Title"] = "DeleteProduct";
}

<h1>Delete Product</h1>

<div>
    <h4>Product Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Product Name:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ProductName)</dd>

        <dt class="col-sm-2">Weight:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Weight)</dd>

        <dt class="col-sm-2">Unit Price:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.UnitPrice)</dd>

        <dt class="col-sm-2">Units In Stock:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.UnitsInStock)</dd>

        <dt class="col-sm-2">Category:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Category.CategoryName)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <div class="mt-3">
            <p class="text-danger">Are you sure you want to delete this product?</p>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="ViewProduct" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>